target/
!.mvn/wrapper/maven-wrapper.jar

node_modules/
.awcache

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### SGS ###
rebel.xml
package-lock.json
stel-fichiers/
