body {
    /*background-color: #f1f1f1;*/
    background-color: #000000;
    color: #ffffff;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* text-align: center; */
    /* color: #2c3e50; */
}
