body {
    /*background-color: #f1f1f1;*/
    background-color: #000000;
    color: #ffffff;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* text-align: center; */
    /* color: #2c3e50; */
}

/*.box {*/
/*    background-color: #fff;*/
/*    border-radius: 1em;*/
/*    padding-top: 1em;*/
/*    padding-bottom: 1em;*/
/*    margin-top: 1em;*/

/*    !* box-shadow: black 0.1em 0.1em 1em; *!*/
/*}*/

/*.box-hachure {*/
/*    background: repeating-linear-gradient(35deg, #f1f1f1, #f1f1f1 10px, #f00 10px, #f00 11px);*/
/*    color: #a2a2a2;*/
/*}*/
