.decompte {
    text-align: center;
    font-size: 30vw;
}
.desarme {
    text-align: center;
    font-size: 20vw;
    color: #14ff16;
}
.arme {
    text-align: center;
    font-size: 30vw;
    color: #ff211a;
}